<div class="container">
    <div class="page-heading">
      {% block breadcrumbs %}
        {% include 'Breadcrumbs' %}
      {% endblock %}
    {% block title %}
      {% include 'Page Header' %}
    {% endblock %}
   </div>
   <div class="row">
  
     {% block main %}
      {% include 'Page Copy' %}   
        {% if page.adx_entitylist %}
            {% include 'entity_list' key:page.adx_entitylist.id %}
        {% endif %}

        {% if page.adx_entityform %}
          {% entityform id: page.adx_entityform.id %}
        {% endif %}
        
        {% if page.adx_webform %}
          {% webform id: page.adx_webform.id %}
        {% endif %}
     {% endblock %}
    </div>
  
  </div>