{% extends 'Layout 1 Column' %}

{% block 'main' %}

{% assign WebPageID = adx.webpage.id %}

{% fetchxml WizardForm %}

<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="new_wizardform">
    <attribute name="new_wizardformid" />
    <attribute name="new_id" />
    <attribute name="createdon" />
    <order attribute="new_id" descending="false" />
    <filter type="and">
      <condition attribute="new_webpage" operator="eq" uitype="adx_webpage" value="{{WebPageID}}" />
    </filter>
  </entity>
</fetch>

{% endfetchxml %}

{% fetchxml WizardFormStep %}

<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="new_wizardformstep">
    <attribute name="new_wizardformstepid" />
    <attribute name="new_id" />
    <attribute name="createdon" />
    <order attribute="new_id" descending="false" />
    <filter type="and">
      <condition attribute="new_wizardform" operator="eq" uitype="new_wizardform" value="{{WizardForm.Entities[0].id}}"" />
    </filter>
  </entity>
</fetch>

{% endfetchxml %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Step Description</th>
      <th scope="col">Status</th>      
    </tr>
  </thead>
  <tbody>
      {% for step in WizardFormStep.Entities %}
          <tr>
            <td>{{step.new_title}}</td>
            <td><a href="/wizardstep/{{step.new_basicformid.id}}">{{step.status}}</a></td>     
          </tr>              
      {% endfor %}
    
  </tbody>
</table>

[% endblock %]
