{% assign showdescription = showdescription | default: false %}
{% assign count = count | default: 3 %}
{% assign languagecode = website.selected_language.code %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{% editable snippets 'KnowledgeMgmt/MostPopularArticles' type: 'text', default: resx['KnowledgeMgmt_Most_Popular_Articles'], escape: true, tag: 'span' %}</div>
  </div>
  {% assign popular_articles = knowledge.articles | popular: count,languagecode  %}
  {% if popular_articles %}
    <div class="list-group">
    {% for article in popular_articles %}
      <div class="list-group-item clearfix">
        <a class="title" href="{{ article.url | escape }}">{{ article.title | escape }}</a>
        {% if showdescription %}<p class="description">{{ article.description | escape }}</p>{% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
</div>