{% if user %}
<div class="container">
    <div class="page-heading">
        {% include 'Breadcrumbs' %}
        {% include 'Page Header' %}
    </div>
    <div class="row">
        <div class="col-md-12">

            {% include 'Page Copy' %}

        </div>
    </div>
</div>



{% else %}
<!-- unauth -->
<link type="text/css" rel="stylesheet" href="./nrcanbaseline.css" media="all" />
<style>
    .breadcrumb li a {
        color: #284162;
        text-decoration: underline;
    }
</style>


{% if website.selected_language.Name == "English" %}

<!-- NEW CODE -->

<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
    <h2>You are here</h2>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
            <li><a href="https://www.nrcan.gc.ca/home">Natural Resources Canada</a></li>
        </ol>
    </div>
</nav>

<main property="mainContentOfPage" class="gc-instttn" typeof="WebPageElement">
    <!-- .region -->
    <!-- <div class="region region-content"> -->
    <section id="block-system-main" class="block block-system">



        <div class="content mrgn-tp-md published">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even">
                        <div class="ip-cover-img ip-cover-hide-mobile ip-cover-hide-tablet bg-initialized"
                            style="background-image: url(./cloudbg.jpg);background-size: cover;background-position: inherit;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 mrgn-bttm-lg">
                                        <h1 property="name" id="wb-cont">Natural Resources Canada</h1>
                                        <p class="mrgn-bttm-xl">Citizen facing portal for grants and contributions
                                            offered by National Resources Canada (NRCAN). </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <section class="featured opct-90 initialized"
                            data-ga="{&quot;category&quot;:&quot;Featured&quot;}">
                            <div class="container">
                                <div class="row">
                                    <div class="mrgn-tp-md mrgn-bttm-md col-xs-12">
                                        <p class="pull-left mrgn-bttm-0 text-white mrgn-rght-sm">Welcome to the NRCAN
                                            Funding Portal: </p>
                                        <p class="pull-left mrgn-bttm-0"
                                            data-wb5-randomize="toggle@self!a@{&quot;number&quot;:1,&quot;classes&quot;: &quot;hide&quot;}">
                                            <a class="stretched-link text-white" href="./Account/Login/"
                                                data-ga-index="1">Login or Register</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/simply-science/hope-climate-change-canadas-arctic-ocean/22831"
                                                data-ga-index="2">Simply Science - Hope for Climate Change From Canada’s
                                                Arctic Ocean</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/energy-efficiency/transportation-alternative-fuels/electric-charging-alternative-fuelling-stationslocator-map/20487"
                                                data-ga-index="3">Explore Canada’s electric vehicle charging network</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/our-natural-resources/forests-forestry/state-canadas-forests-report/16496"
                                                data-ga-index="4">The State of Canada's forests report</a>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>



                        <!-- News bar start -->

                    </div>
                </div>
            </div>
        </div>

        <!-- links -->
        <!-- /links -->

        <!-- comments -->
        <!-- /comments -->
        <section class="home-your-gov gc-srvinfo well well-sm brdr-0">
            <div class="container">
                <h2>Your government</h2>
                <div class="row mrgn-bttm-md">
                    <div class="col-lg-7 col-xs-12 col-md-6">
                        
                    <div class="wb-eqht row wb-init wb-eqht-inited" id="wb-auto-1">
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/contact.html">Contact us</a></h3>
                                <p>Department and agency contacts, change your address</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a>
                                </h3>
                                <p>A list of current government and related organizations</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/government/system.html">How government works</a></h3>
                                <p>Government structure, priorities, finances and regulations</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://open.canada.ca/en">Open government</a></h3>
                                <p>Accessible government, open information and data, open dialogue</p>
                            </div>
                        </div></div>
                </div>
            </div>
        </section>
        <div class="">
            <div class="pagedetails container">
                <div id="feedback-button" class="hidden-print">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4">
                            <details class="brdr-0">
                                <summary class="btn btn-default text-center">Report a problem on this page</summary>
                                <div class="clearfix"></div>
                                <div class="well row">
                                    <!-- Thu, 11/18/2021 - 10:29 -->
                                    <div>
                                        <div class="gc-rprt-prblm">
                                            <div class="gc-rprt-prblm-frm" id="wb-auto-7">
                                                <form id="gc-rprt-prblm-form" action="/report-problem" method="POST"
                                                    class="wb-postback wb-postback-inited wb-init"
                                                    data-wb-postback="{&quot;success&quot;:&quot;.gc-rprt-prblm-tggl&quot;,&quot;failure&quot;:&quot;.gc-rprt-prblm-tggl&quot;}">
                                                    <input type="hidden" name="pageTitle"
                                                        value="Natural Resources Canada">
                                                    <input type="hidden" name="thanks" value="true">
                                                    <input type="hidden" name="submissionPage"
                                                        value="https://www.nrcan.gc.ca/home">
                                                    <input type="hidden" name="currentPage"
                                                        value="https://www.nrcan.gc.ca/home">
                                                    <input type="hidden" name="submissionWebsite"
                                                        value="www.nrcan.gc.ca">
                                                    <!-- Current URL https://www.nrcan.gc.ca/home-->
                                                    <!-- HTTP_HOST www.nrcan.gc.ca-->
                                                    <!-- HTTP_REFERER https://nrcan.canada.ca/-->
                                                    <!-- NID 18759-->
                                                    <!-- cache_name content_health_get_report_widget_1_18759_en-->
                                                    <input type="hidden" name="nid" value="18759">
                                                    <input type="hidden" name="lang" value="en">
                                                    <input name="subject" type="hidden"
                                                        value="Report a problem on this page">
                                                    <fieldset>
                                                        <legend><span class="field-name">Please select all that
                                                                apply:</span></legend>

                                                        <div class="checkbox">
                                                            <label for="problem1"><input name="broken" id="problem1"
                                                                    type="checkbox" value="Yes">
                                                                A link, button or video is not working
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem2"><input name="spelling" id="problem2"
                                                                    type="checkbox" value="Yes">
                                                                It has a spelling mistake
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem3"><input name="wrong" id="problem3"
                                                                    type="checkbox" value="Yes">
                                                                Information is missing
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem4"><input name="outdated" id="problem4"
                                                                    type="checkbox" value="Yes">
                                                                Information is outdated or wrong
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem11"><input name="find" id="problem11"
                                                                    type="checkbox" value="Yes">
                                                                I can't find what I'm looking for
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem12"><input name="other" id="problem12"
                                                                    type="checkbox" value="Yes">
                                                                Other issue not in this list
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                    </fieldset>
                                                    <button type="submit"
                                                        class="btn btn-primary wb-init wb-toggle-inited adapter-wb5-click-inited"
                                                        id="wb-auto-9">Submit</button>
                                                </form>
                                            </div>
                                            <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide" id="wb-auto-8">
                                                <h3>Thank you for your help!</h3>
                                                <p> </p>
                                                <p>You will not receive a reply. For enquiries,&nbsp;<a
                                                        href="https://contact-contactez.nrcan-rncan.gc.ca/index.cfm?lang=eng">contact
                                                        us</a>.</p>
                                                <p></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <div class="col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
                            <div class="wb-share wb-init wb-share-inited"
                                data-wb-share="{&quot;lnkClass&quot;: &quot;btn btn-default btn-block&quot;}"
                                id="wb-auto-10">
                                <section id="shr-pg0" class="shr-pg mfp-hide modal-dialog modal-content overlay-def">
                                    <header class="modal-header">
                                        <h2 class="modal-title">Share this page</h2>
                                    </header>
                                    <div class="modal-body">
                                        <ul class="list-unstyled colcount-xs-2">
                                            <li><a href="https://www.blogger.com/blog_this.pyra?t=&amp;u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;n=Natural%20Resources%20Canada"
                                                    class="shr-lnk blogger btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Blogger</a></li>
                                            <li><a href="https://www.diigo.com/post?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada"
                                                    class="shr-lnk diigo btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Diigo</a></li>
                                            <li><a href="mailto:?to=&amp;subject=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk email btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Email</a></li>
                                            <li><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;t=Natural%20Resources%20Canada"
                                                    class="shr-lnk facebook btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Facebook</a></li>
                                            <li><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=&amp;su=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk gmail btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Gmail</a></li>
                                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada&amp;ro=false&amp;summary=&amp;source="
                                                    class="shr-lnk linkedin btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">LinkedIn®</a></li>
                                            <li><a href="https://www.myspace.com/Modules/PostTo/Pages/?u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;t=Natural%20Resources%20Canada"
                                                    class="shr-lnk myspace btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">MySpace</a></li>
                                            <li><a href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;media=&amp;description=Natural%20Resources%20Canada"
                                                    class="shr-lnk pinterest btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Pinterest</a></li>
                                            <li><a href="https://reddit.com/submit?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada"
                                                    class="shr-lnk reddit btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">reddit</a></li>
                                            <li><a href="https://tinyurl.com/create.php?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk tinyurl btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">TinyURL</a></li>
                                            <li><a href="https://www.tumblr.com/share/link?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;name=Natural%20Resources%20Canada&amp;description="
                                                    class="shr-lnk tumblr btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">tumblr</a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text=Natural%20Resources%20Canada&amp;url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk twitter btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Twitter</a></li>
                                            <li><a href="https://api.whatsapp.com/send?text=Natural%20Resources%20Canada%0A%0Ahttps%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk whatsapp btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Whatsapp</a></li>
                                            <li><a href="https://compose.mail.yahoo.com/?to=&amp;subject=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk yahoomail btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Yahoo! Mail</a></li>
                                        </ul>
                                        <p class="col-sm-12 shr-dscl">No endorsement of any products or services is
                                            expressed or implied.</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </section><a href="#shr-pg0" aria-controls="shr-pg0"
                                    class="shr-opn wb-lbx btn btn-default btn-block wb-lbx-inited wb-init"
                                    id="wb-auto-11"><span class="glyphicon glyphicon-share"></span>Share this page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <dl id="wb-dtmd">
                            <dt>Date modified: </dt>
                            <dd><time property="dateModified">11/22/2021 1:14 AM</time></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </section> <!-- /.block -->
    <!-- </div> -->
    <!-- /.region -->
</main>
<!-- END NEW CODE -->

{% else %}

<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
    <h2>You are here</h2>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
            <li><a href="https://www.nrcan.gc.ca/home">Natural Resources Canada</a></li>
        </ol>
    </div>
</nav>

<main property="mainContentOfPage" class="gc-instttn" typeof="WebPageElement">
    <!-- .region -->
    <!-- <div class="region region-content"> -->
    <section id="block-system-main" class="block block-system">



        <div class="content mrgn-tp-md published">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even">
                        <div class="ip-cover-img ip-cover-hide-mobile ip-cover-hide-tablet bg-initialized"
                            style="background-image: url(./cloudbg.jpg);background-size: cover;background-position: inherit;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 mrgn-bttm-lg">
                                        <h1 property="name" id="wb-cont">Natural Resources Canada</h1>
                                        <p class="mrgn-bttm-xl">Citizen facing portal for grants and contributions
                                            offered by National Resources Canada (NRCAN). </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <section class="featured opct-90 initialized"
                            data-ga="{&quot;category&quot;:&quot;Featured&quot;}">
                            <div class="container">
                                <div class="row">
                                    <div class="mrgn-tp-md mrgn-bttm-md col-xs-12">
                                        <p class="pull-left mrgn-bttm-0 text-white mrgn-rght-sm">Welcome to the NRCAN
                                            Funding Portal: </p>
                                        <p class="pull-left mrgn-bttm-0"
                                            data-wb5-randomize="toggle@self!a@{&quot;number&quot;:1,&quot;classes&quot;: &quot;hide&quot;}">
                                            <a class="stretched-link text-white" href="./Account/Login/"
                                                data-ga-index="1">Login or Register</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/simply-science/hope-climate-change-canadas-arctic-ocean/22831"
                                                data-ga-index="2">Simply Science - Hope for Climate Change From Canada’s
                                                Arctic Ocean</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/energy-efficiency/transportation-alternative-fuels/electric-charging-alternative-fuelling-stationslocator-map/20487"
                                                data-ga-index="3">Explore Canada’s electric vehicle charging network</a>
                                            <a class="stretched-link text-white hide"
                                                href="https://www.nrcan.gc.ca/our-natural-resources/forests-forestry/state-canadas-forests-report/16496"
                                                data-ga-index="4">The State of Canada's forests report</a>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>



                        <!-- News bar start -->

                    </div>
                </div>
            </div>
        </div>

        <!-- links -->
        <!-- /links -->

        <!-- comments -->
        <!-- /comments -->
        <section class="home-your-gov gc-srvinfo well well-sm brdr-0">
            <div class="container">
                <h2>Your government</h2>
                <div class="row mrgn-bttm-md">
                    <div class="col-lg-7 col-xs-12 col-md-6">
                        
                    <div class="wb-eqht row wb-init wb-eqht-inited" id="wb-auto-1">
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/contact.html">Contact us</a></h3>
                                <p>Department and agency contacts, change your address</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a>
                                </h3>
                                <p>A list of current government and related organizations</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://www.canada.ca/en/government/system.html">How government works</a></h3>
                                <p>Government structure, priorities, finances and regulations</p>
                            </div>
                            <div class="col-lg-6" style="vertical-align: top; min-height: 114px;">
                                <h3><a href="https://open.canada.ca/en">Open government</a></h3>
                                <p>Accessible government, open information and data, open dialogue</p>
                            </div>
                        </div></div>
                </div>
            </div>
        </section>
        <div class="">
            <div class="pagedetails container">
                <div id="feedback-button" class="hidden-print">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4">
                            <details class="brdr-0">
                                <summary class="btn btn-default text-center">Report a problem on this page</summary>
                                <div class="clearfix"></div>
                                <div class="well row">
                                    <!-- Thu, 11/18/2021 - 10:29 -->
                                    <div>
                                        <div class="gc-rprt-prblm">
                                            <div class="gc-rprt-prblm-frm" id="wb-auto-7">
                                                <form id="gc-rprt-prblm-form" action="/report-problem" method="POST"
                                                    class="wb-postback wb-postback-inited wb-init"
                                                    data-wb-postback="{&quot;success&quot;:&quot;.gc-rprt-prblm-tggl&quot;,&quot;failure&quot;:&quot;.gc-rprt-prblm-tggl&quot;}">
                                                    <input type="hidden" name="pageTitle"
                                                        value="Natural Resources Canada">
                                                    <input type="hidden" name="thanks" value="true">
                                                    <input type="hidden" name="submissionPage"
                                                        value="https://www.nrcan.gc.ca/home">
                                                    <input type="hidden" name="currentPage"
                                                        value="https://www.nrcan.gc.ca/home">
                                                    <input type="hidden" name="submissionWebsite"
                                                        value="www.nrcan.gc.ca">
                                                    <!-- Current URL https://www.nrcan.gc.ca/home-->
                                                    <!-- HTTP_HOST www.nrcan.gc.ca-->
                                                    <!-- HTTP_REFERER https://nrcan.canada.ca/-->
                                                    <!-- NID 18759-->
                                                    <!-- cache_name content_health_get_report_widget_1_18759_en-->
                                                    <input type="hidden" name="nid" value="18759">
                                                    <input type="hidden" name="lang" value="en">
                                                    <input name="subject" type="hidden"
                                                        value="Report a problem on this page">
                                                    <fieldset>
                                                        <legend><span class="field-name">Please select all that
                                                                apply:</span></legend>

                                                        <div class="checkbox">
                                                            <label for="problem1"><input name="broken" id="problem1"
                                                                    type="checkbox" value="Yes">
                                                                A link, button or video is not working
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem2"><input name="spelling" id="problem2"
                                                                    type="checkbox" value="Yes">
                                                                It has a spelling mistake
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem3"><input name="wrong" id="problem3"
                                                                    type="checkbox" value="Yes">
                                                                Information is missing
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem4"><input name="outdated" id="problem4"
                                                                    type="checkbox" value="Yes">
                                                                Information is outdated or wrong
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem11"><input name="find" id="problem11"
                                                                    type="checkbox" value="Yes">
                                                                I can't find what I'm looking for
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                        <div class="checkbox">
                                                            <label for="problem12"><input name="other" id="problem12"
                                                                    type="checkbox" value="Yes">
                                                                Other issue not in this list
                                                            </label>
                                                        </div>
                                                        <!-- -->
                                                    </fieldset>
                                                    <button type="submit"
                                                        class="btn btn-primary wb-init wb-toggle-inited adapter-wb5-click-inited"
                                                        id="wb-auto-9">Submit</button>
                                                </form>
                                            </div>
                                            <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide" id="wb-auto-8">
                                                <h3>Thank you for your help!</h3>
                                                <p> </p>
                                                <p>You will not receive a reply. For enquiries,&nbsp;<a
                                                        href="https://contact-contactez.nrcan-rncan.gc.ca/index.cfm?lang=eng">contact
                                                        us</a>.</p>
                                                <p></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <div class="col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
                            <div class="wb-share wb-init wb-share-inited"
                                data-wb-share="{&quot;lnkClass&quot;: &quot;btn btn-default btn-block&quot;}"
                                id="wb-auto-10">
                                <section id="shr-pg0" class="shr-pg mfp-hide modal-dialog modal-content overlay-def">
                                    <header class="modal-header">
                                        <h2 class="modal-title">Share this page</h2>
                                    </header>
                                    <div class="modal-body">
                                        <ul class="list-unstyled colcount-xs-2">
                                            <li><a href="https://www.blogger.com/blog_this.pyra?t=&amp;u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;n=Natural%20Resources%20Canada"
                                                    class="shr-lnk blogger btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Blogger</a></li>
                                            <li><a href="https://www.diigo.com/post?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada"
                                                    class="shr-lnk diigo btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Diigo</a></li>
                                            <li><a href="mailto:?to=&amp;subject=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk email btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Email</a></li>
                                            <li><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;t=Natural%20Resources%20Canada"
                                                    class="shr-lnk facebook btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Facebook</a></li>
                                            <li><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=&amp;su=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk gmail btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Gmail</a></li>
                                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada&amp;ro=false&amp;summary=&amp;source="
                                                    class="shr-lnk linkedin btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">LinkedIn®</a></li>
                                            <li><a href="https://www.myspace.com/Modules/PostTo/Pages/?u=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;t=Natural%20Resources%20Canada"
                                                    class="shr-lnk myspace btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">MySpace</a></li>
                                            <li><a href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;media=&amp;description=Natural%20Resources%20Canada"
                                                    class="shr-lnk pinterest btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Pinterest</a></li>
                                            <li><a href="https://reddit.com/submit?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;title=Natural%20Resources%20Canada"
                                                    class="shr-lnk reddit btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">reddit</a></li>
                                            <li><a href="https://tinyurl.com/create.php?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk tinyurl btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">TinyURL</a></li>
                                            <li><a href="https://www.tumblr.com/share/link?url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome&amp;name=Natural%20Resources%20Canada&amp;description="
                                                    class="shr-lnk tumblr btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">tumblr</a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text=Natural%20Resources%20Canada&amp;url=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk twitter btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Twitter</a></li>
                                            <li><a href="https://api.whatsapp.com/send?text=Natural%20Resources%20Canada%0A%0Ahttps%3A%2F%2Fwww.nrcan.gc.ca%2Fhome"
                                                    class="shr-lnk whatsapp btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Whatsapp</a></li>
                                            <li><a href="https://compose.mail.yahoo.com/?to=&amp;subject=Natural%20Resources%20Canada&amp;body=https%3A%2F%2Fwww.nrcan.gc.ca%2Fhome%0A"
                                                    class="shr-lnk yahoomail btn btn-default" target="_blank"
                                                    rel="noreferrer noopener">Yahoo! Mail</a></li>
                                        </ul>
                                        <p class="col-sm-12 shr-dscl">No endorsement of any products or services is
                                            expressed or implied.</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </section><a href="#shr-pg0" aria-controls="shr-pg0"
                                    class="shr-opn wb-lbx btn btn-default btn-block wb-lbx-inited wb-init"
                                    id="wb-auto-11"><span class="glyphicon glyphicon-share"></span>Share this page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <dl id="wb-dtmd">
                            <dt>Date modified: </dt>
                            <dd><time property="dateModified">11/22/2021 1:14 AM</time></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </section> <!-- /.block -->
    <!-- </div> -->
    <!-- /.region -->
</main>
<!-- END NEW CODE -->
{% endif %}

{% endif %}