{% assign knowledge_url = sitemarkers['Knowledge'].url %}
{% assign createcase_url = sitemarkers['Create Case'].url %}
{% assign contactus_url = sitemarkers['Contact Us'].url %}
<!-- mycomment -->
<section id="gethelp" class="page_section section-diagonal-right color-inverse {% substitution %}{% if page %}{% unless page.parent %}home-section{% endunless %}{% endif %}{% endsubstitution %} hidden-print">
  <div class="section-diagonal-right-content">
    <div class="container">
      <div class="row">
        <h3  class="text-center">{% editable snippets "GetHelp/Heading" default: resx['Get_Help_DefaultText'] %}</h3>
        <div class="col-sm-4 text-center">
            <a href="{{ knowledge_url | escape }}" class="btn btn-info-home btn-lg-home" title="{{ snippets["knowledge/BrowseKb"]| default: resx['Browse_The_KB'] | escape }}" >{{ snippets["Knowledge/BrowseKb"] | default: resx['Browse_The_KB'] | escape }}</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="{{ createcase_url | escape }}" class="btn btn-info-home btn-lg-home" title="{{ snippets["case/CreateCase"] | default: resx['Create_Case_DefaultText'] | escape }}">{{ snippets["Case/CreateCase"] | default: resx['Create_Case_DefaultText'] | escape }}</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="{{ contactus_url | escape }}" class="btn btn-info-home btn-lg-home" title="{{ snippets["ContactUs"] | default: resx["Contact_Us"] | escape }}">{{ snippets["ContactUs"] | default: resx["Contact_Us"] | escape }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer role="contentinfo">
  <div class="footer-top hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-left">
          {% editable snippets 'About Footer' type: 'html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 text-left">
          {% editable snippets 'Footer' type: 'html' %}
        </div>
        {% assign footer_nav = weblinks["Footer"] %}
        {% if footer_nav %}
          <div class="col-md-8 col-sm-12 col-xs-12 text-left {% if footer_nav.editable %}xrm-entity xrm-editable-adx_weblinkset{% endif %}" data-weblinks-maxdepth="2">
            <ul class="row list-unstyled">
              {% for link in footer_nav.weblinks %}
                <li class="footer-list col-sm-3">
                  <nav aria-label="{{ link.name | escape }}">
                    <h4>{{ link.name | escape }}</h4>
                    <ul class="list-unstyled">
                      {% if link.display_page_child_links %}
                        {% assign sublinks = sitemap[link.url].children %}
                      {% else %}
                        {% assign sublinks = link.weblinks %}
                      {% endif %}
                      {% if sublinks.size > 0 %}
                        {% for sublink in sublinks %}
                          <li>
                            <a href="{{ sublink.url | escape }}" {% if sublink.Open_In_New_Window %} target="_blank" {% endif %}>{{ sublink.name | default:sublink.title }}</a>
                          </li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                  </nav>
                </li>
              {% endfor %}
            </ul>
            {% editable footer_nav %}
          </div>
        {% endif %}
    </div>
  </div>
</footer>

<script type="text/javascript">
       (function ($) {
         $(document).ready(function () {
             $(".dropdown-submenu").on("keydown", function (event) {
                if (event.keyCode == 9) {
                     $(this).toggleClass("open");
                }
            });
         });
        }(jQuery));
</script>