{% extends 'Layout 1 Column' %}
{% block main %}
  {% include 'Page Copy' %}
  <div class="form" data-cancel-label="{{ snippets['CustomerService/Case/Resolved'] | default: resx['Editable_Cancel_Label'] | h }}" data-case-deflection-pagesize="5" data-case-deflection-logicalnames="knowledgearticle,incident,adx_issue,adx_webpage,adx_communityforumthread,adx_communityforumpost,kbarticle" data-case-deflection-query="" data-case-deflection-filter="">
    {% entityform id:page.adx_entityform.id %}
  </div>
  {% assign entitlements_enabled = settings["CustomerSupport/CaseEntitlementEnabled"] | boolean %}
  {% if entitlements_enabled %}
    <script type="text/javascript">
      // Show entitlement and prodcut fields if site setting = true
      (function ($) {
        $("#productid_lookupmodal").parent().parent().show();
        $("#entitlementid_lookupmodal").parent().parent().show();
      }(jQuery));
    </script>
  {% else %}
    <script type="text/javascript">
      // Hide entitlement and prodcut fields if site setting = false
      (function ($) {
        $("#productid_lookupmodal").parent().parent().hide();
        $("#entitlementid_lookupmodal").parent().parent().hide();
      }(jQuery));
    </script>
  {% endif %}
  {% if user and user.parentcustomerid %}
    <input type="hidden" id="case-user-contact" value="{{user.id}}" />
    <input type="hidden" id="case-user-contact-name" value="{{user.fullname|escape}}" />
    <input type="hidden" id="case-user-account" value="{{user.parentcustomerid.id}}" />
    <input type="hidden" id="case-user-account-name" value="{{user.parentcustomerid.name|escape}}" />
  {% endif %}
  <script type="text/javascript">
    function onCancelClick() {
      {% if page.parent and page.parent.url.size > 0 %}
        window.location.href = "{{ page.parent.url }}";
      {% else %}
        window.history.back();
      {% endif %}
    }
  </script>
  {% raw %}
  <script type="text/javascript">
    (function ($) {
      $(document).ready(function () {
        // Add cancel button
        var $actions = $(".actions").has("input");
        var $cancelButton = $("<input />").attr("type", "button").addClass("btn btn-default button btn-cancel").on("click", onCancelClick);
        if ($actions.length > 0) {
            var label = $actions.closest('[data-cancel-label]').data('cancel-label');
            $cancelButton.attr('title', label );
            $cancelButton.attr('value', label);
            $(".actions").append($cancelButton);

            var submitButton = $(".actions input#InsertButton");
            submitButton.attr('title', submitButton.attr('value'));
        } 
        // Autopopulate customerid field with user's account and primarycontactid field with user's contact
        var accountId = $("#case-user-account").val();
        var accountName = $("#case-user-account-name").val();
        var contactId = $("#case-user-contact").val();
        var contactName = $("#case-user-contact-name").val();
        if (accountId != null)
        {
          $("#customerid").val(accountId);
          $("#customerid_name").val(accountName);
          $("#customerid_entityname").val("account");
          $("#customerid").trigger("change");
          $("#primarycontactid").val(contactId);
          $("#primarycontactid_name").val(contactName);
          $("#primarycontactid_entityname").val("contact");
          $("#primarycontactid").trigger("change");
        }
      function primarycontactidValidation() {
        // disable primarycontactid if customer is an account
        if ($("#customerid_name").val() == "" || $("#customerid_entityname").val() == "contact")
        {
          $("#primarycontactid").val('');
          $("#primarycontactid_name").val('');
          $("#primarycontactid").trigger("change");
          $("#primarycontactid_name").attr("disabled", true);
          $("#primarycontactid_name").parent().find('.input-group-btn').hide();
        }
        else
        {
          $("#primarycontactid_name").removeAttr("disabled");
          $("#primarycontactid_name").parent().find('.input-group-btn').show();
        }
        }
        primarycontactidValidation();
        $("#customerid").on("change",primarycontactidValidation);
      });
    }(jQuery));
  </script>
  <script id="case-deflection-container" type="text/x-handlebars-template">
    {{#if items}}
    <div class="panel panel-default content-panel">
      <div class="panel-heading">
        <div class="panel-title">{% endraw %}{{ resx['Case_Deflection_Suggested_Topics'] }}{% raw %}</div>
      </div>
      <ul id="case-deflection-topics" class="list-group">
      </ul>
      <div class="panel-footer clearfix">
          <button type="button" class="btn btn-default search-more pull-right"><span class='fa fa-plus'></span> {% endraw %}{{ resx['CustomerService_Support_ShowMore'] }}{% raw %}</button>
      </div>
    </div>
    {{/if}}
  </script>
  <script id="case-deflection-results" type="text/x-handlebars-template">
    {{# each items}}
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
         {{#urlquerystringcheck url}}
            <a href="{{ url }}?caseTitle={{ ../caseTitle }}">{{ title }}</a>
         {{else}}
            <a href="{{ url }}&caseTitle={{ ../caseTitle }}">{{ title }}</a>
         {{/urlquerystringcheck}}
      </h4>
      <p class="list-group-item-text search-results fragment">{{{ fragment }}}</p>
      <div>
        {{#label entityLogicalName 'adx_communityforum'}}
        <span class='label label-info'>{% endraw %}{{ resx['Forums_Label']}}{% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'adx_communityforumthread'}}
        <span class='label label-info'>{% endraw %}{{ resx['Forums_Label'] }}{% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'adx_communityforumpost'}}
        <span class='label label-info'>{% endraw %}{{ resx['Forums_Label'] }}{% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'adx_event'}}
        <span class='label label-info'>{% endraw %} {{ resx['Events_Label'] }} {% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'adx_eventschedule'}}
        <span class='label label-info'>{% endraw %} {{ resx['Events_Label'] }} {% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'adx_issue'}}
        <span class='label label-danger'>{% endraw %} {{ resx['Issues_Label'] }} {% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'incident'}}
        <span class='label label-success'>{% endraw %} {{ resx['Resolved_Cases_Label'] }} {% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'kbarticle'}}
        <span class='label label-primary'>{% endraw %} {{ resx['Knowledge_Base_Label'] }} {% raw %}</span>
        {{/label}}
        {{#label entityLogicalName 'knowledgearticle'}}
        <span class='label label-primary'>{% endraw %} {{ resx['Knowledge_Base_Label']}} {% raw %}</span>
        {{/label}}
      </div> 
    </li>
    {{/each}}
  </script>
  {% endraw %}
{% endblock %}