{% assign count = count | default: 3 %}
{% assign languagecode = website.selected_language.code %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{% editable snippets 'KnowledgeMgmt/TopRatedArticles' type: 'text', default: resx["Top_Rated_Articles"], escape: true, tag: 'span' %}</div>
  </div>
  {% assign top_articles = knowledge.articles | top: count,languagecode  %}
  {% if top_articles %}
    <div class="list-group">
    {% for article in top_articles %}
      <a class="list-group-item" href="{{ article.url | escape }}"><div class="text-muted small">{{ article.modifiedon | date: 'MMM d, yyyy' | escape }}</div>{{ article.title | escape }}</a>
    {% endfor %}
    </div>
  {% endif %}
</div>