<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Remove existing entries -->
      <remove fileExtension=".yml" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      
      <!-- Add the new MIME type entries -->
      <mimeMap fileExtension=".yml" mimeType="text/yaml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
      <!-- Add the new MIME type entries for docfx files -->
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
